body{
    background-color: #EEEEEE;
}
.sneaker__div, .data__marca{
    display: flex;
}

.sneaker__div{
    width: 80%;
    height: 600px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #FFFFFF;
    color:  #000;
}
.sneaker__img, .sizes__shipment, .shipment{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sneaker__img{
    width: 50%;


    img{
        width: 80%;
    }
}

.sneaker__data{
    width: 50%;
}

.data__marca{
    justify-content: space-between;
}

.info__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.sizes__header, .sizes__div, .sizes__button{
    display: flex;
    margin-bottom: 30px;
}

.sizes__div{
    font-size: 13px;
    div{
        display: flex;
    }
}

.sizes__button{
    flex-wrap: wrap;
    gap: 10px;

    button{
        padding: 5px 10px;
        background-color: #F9F9F9;
        border: 1px solid #FFDFDF;
        border-radius: 5px;
        color: #888888;
    }
    button:hover{
        cursor: pointer;
    }
}

.sizes__shipment{
    height: 120px;
    gap: 10px;
    border: 1px solid #57EA81;

    .shipment{
        flex-direction: column;
        text-align: center;
        width: 120px;
    }
}