body {
    background-color: #EEEEEE;
}

.sneaker__div,
.data__marca {
    display: flex;
}

.sneaker__back {
    position: absolute;
    border: none;
    background-color: inherit;
    cursor: pointer;

    svg {
        width: 40px;
        height: 40px;
    }
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sneaker__div {
    width: 80%;
    height: 600px;
    padding: 20px 20px;
    color: #000;
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.sneaker__img,
.sizes__shipment,
.shipment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sneaker__img {
    width: 50%;


    img {
        width: 80%;
        height: 70%;
        object-fit: cover;
        transition: transform 0.5s ease;
    }

    img:hover {
        transform: scale(1.2);
    }
}

.sneaker__data {
    width: 50%;
}

.data__marca {
    justify-content: space-between;
}

.info__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.sizes__header,
.sizes__div,
.sizes__button {
    display: flex;
    margin-bottom: 30px;
}

.sizes__header {
    margin-top: 15px;
    align-items: center;
    gap: 5px;

    span {
        display: flex;
        align-items: center;

        svg {
            width: 15px;
            height: 15px;
        }
    }

}

.sizes__div {
    font-size: 13px;
    justify-content: space-between;

    div {
        display: flex;
    }
}

.sizes__button {
    flex-wrap: wrap;
    gap: 10px;

    button {
        padding: 5px 10px;
        background-color: #F9F9F9;
        border: 1px solid #FFDFDF;
        border-radius: 5px;
        color: #888888;
    }

    button:hover {
        cursor: pointer;
    }
}

.sizes__shipment {
    height: 120px;
    gap: 10px;
    border: 1px solid #57EA81;

    .shipment {
        flex-direction: column;
        text-align: center;
        width: 120px;
    }
}


.descount__div {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.descount__p {
    font-size: 20px;
    text-decoration: line-through;
    color: #717171;
}

.amount {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;

    span {
        font-size: 12px;
        color: #717171;
    }
}

.amount>div {
    display: flex;
    height: 100%;
    gap: 25px;
    font-size: 18px;
    align-items: center;

    button {
        padding: 5px 10px;
        background-color: #EEEEEE;
        border: none;
    }
}

.table__shoes {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table__span{
    text-decoration: underline;
    cursor: pointer;
}
