.menu__header{
    display: flex;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;

    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}


.sliders{
    margin-top: 70px;
    position: relative;
}

.products__main{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 10px;

    .products__options{
        width: 30%;
        padding: 20px;
        background-color: white;
    }

    .products__list{
        width: 70%;
    }
}


.product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    color: white;
}

.product__data{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 400px;
    font-size: 13px;
    padding: 10px;
    color: #717171;
    gap: 5px;
    transition: transform 0.5s ease;

    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        
    }

    header{
        text-transform: uppercase;
    }

    h3{
        font-size: 16px;
        
    }

    span{
        font-size: 20px;
        color:#505050;
    }

    button{
        background-color: #343E49;
        color: white;
        height: 50px;
        width: 80%;
        margin: 0 auto;
        border-radius: 40px;
        font-size: 16px;
        font-weight: 700;
        border: none;
        cursor: inherit;
    }

    button:hover{
        background-color: #1d2329;
    }

}

.product__data:hover{
        transform: scale(1.2)
}

.products__main-change{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.products__option-change{
    display: none;
}